body {
    font-family: 'Roboto', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    background-image: url('hatterkep2.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

header {
    background-color: #ff6600;
    color: #fff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

header .logo {
    font-size: 24px;
    font-weight: bold;
}

header .tagline {
    font-size: 14px;
    font-style: italic;
}

header .search-bar {
    margin-top: 10px;
    align-items: center;
    flex-grow: 1;
    display: flex;
    justify-content: center;
}

header .search-bar input {
    padding: 10px;
    width: 300px;
    border: none;
    border-radius: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

nav {
    margin-left: auto;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
    font-weight: bold;
}

.main-content {
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    margin: 20px auto;
    width: 80%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.food-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
}

.food-item {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: calc(33.333% - 20px);
    box-sizing: border-box;
    transition: transform 0.3s, box-shadow 0.3s;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.food-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.food-item img.food-image {
    width: 200px; 
    height: 150px; 
    object-fit: cover; 
    border-radius: 10px;
    margin-bottom: 10px;
}

.food-item h3 {
    margin: 0;
    font-size: 18px;
    text-align: center;
}

.food-item p {
    margin: 5px 0;
    text-align: center;
}

.food-item .quantity-control {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.food-item .quantity-control label {
    margin-right: 10px;
}

.food-item .quantity-control input {
    width: 50px;
    padding: 5px;
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.food-item button.add-to-cart,
.food-item button.remove-from-cart {
    background-color: #28a745;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 5px;
    transition: background-color 0.3s;
}

.food-item button.remove-from-cart {
    background-color: #dc3545;
}

.food-item button.add-to-cart:hover {
    background-color: #218838;
}

.food-item button.remove-from-cart:hover {
    background-color: #c82333;
}